/* DigitalClock.css */

.digital-clock-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.digital-clock {
    font-size: 2rem;
    color: black; /* Change color as needed */
    transition: transform 0.3s ease-in-out;
}

.digital-clock:hover {
    transform: scale(1.1);
}
